.fc .fc-header-toolbar {
  font-size: 10px;
}
.fc .fc-toolbar-title {
  font-size: 14px;
}
.fc-button {
  font-size: 10px;
}
.fc-button-primary {
  font-size: 10px;
}

.fc {
  font-size: 10px;
}

.fc-dayGridMonth-view .fc-col-header-cell,
.fc-dayGridMonth-view .fc-daygrid-day {
  width: 12.5vw;
}

.fc-dayGridMonth-view .fc-daygrid-day-frame {
  aspect-ratio: 1 / 1;
}
.fc-dayGridMonth-view .fc-daygrid-day-frame {
  min-height: unset; /* or min-height: 0; if unset isn’t enough */
  aspect-ratio: 1 / 1;
  @media (max-width: 768px) {
    max-width: 50vw;
  }
}
